<div *ngIf="isPath('/login')" class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    <li>
                        <a routerLink="">
                            <div class="nav-icon"> <i class="icon-home"></i> </div>
                            <span class="title">Home</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="eventlists">
                            <div class="nav-icon"> <i class="icon-calendar"></i> </div>
                            <span class="title">Event</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="peoplelists">
                            <div class="nav-icon"> <i class="icon-users"></i> </div>
                            <span class="title">People</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="userlists">
                            <div class="nav-icon"> <i class="icon-users"></i> </div>
                            <span class="title">Users</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="reports">
                            <div class="nav-icon"> <i class="icon-doc"></i> </div>
                            <span class="title">Report</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="import">
                            <div class="nav-icon"> <i class="icon-cloud-upload"></i> </div>
                            <span class="title">Import </span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="login">
                            <div class="nav-icon"> <i class="icon-logout"></i> </div>
                            <span class="title">Logout </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>