<div class="logo">
        <a href="index.html">
            <img src="public/assets/admin/layout/img/logo.png" alt="" height="38px;" />
        </a>
    </div>
    
<div class="content">
        <!-- BEGIN LOGIN FORM -->
        <form 
                #f="ngForm" 
				(ngSubmit)="onSubmit(f.form.value)"
                class="login-form">
                
            <h3 class="form-title">Sign In</h3>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span>
                    Enter any username and password.
                </span>
            </div>

            <div 
                class="form-group"
                *ngIf="checking_auth">
                <i class="fa fa-spinner fa-spin"></i>
            </div>

            <div
                *ngIf="error_auth"
                class="alert alert-danger">
                {{auth_error}}
            </div>


            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                <input 
                    #username
                    class="form-control" 
                    type="text" 
                    name="username"
                    ngModel />
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <input 
                    #password
                    class="form-control" 
                    type="password" 
                    name="password" 
                    ngModel />
            </div>
            <div class="form-group">
                <label class="check">
                    <input type="checkbox" name="remember" value="1" />Remember
                </label>
            </div>

            <div class="form-actions">
                <button
                        [disabled]="!f.valid" 
                        type="submit" 
                        class="btn green">Login 
                                            </button>

                <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
            </div>

            <!--<div class="create-account">
                <p>
                    <a href="javascript:;" id="register-btn" class="uppercase">Create an account</a>
                </p>
            </div>-->
        </form>
        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="forget-form" action="index.html" method="post">
            <h3>Forget Password ?</h3>
            <p>
                Enter your e-mail address below to reset your password.
            </p>
            <div class="form-group">
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn btn-default">Back</button>
                <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
            </div>
        </form>
        <!-- END FORGOT PASSWORD FORM -->
        
    </div>