<div class="page-content-wrapper">
            <div class="page-content">

                <div id="divProgress" class="divProgress">
                    <p class="progressP">
                        <img src="/assets/admin/layout/img/loading-spinner-default.gif" />
                    </p>
                </div>
                <!--
                <link href="assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" />
                <link href="assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" />
                -->

                <h3 class="page-title">  Import   </h3>
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li> <i class="fa fa-home"></i> <a href="index.html">Home</a> <i class="fa fa-angle-right"></i> </li>
                        <li>  Import   </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN VALIDATION STATES-->
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption"> <i class="icon-cloud-upload"></i> Import  </div>
                                <div class="tools"> <a href="javascript:;" class="collapse"> </a> </div>
                            </div>
                            <div class="portlet-body">
                                <div class="mrb20 clearfix">
                                    <div class="col-md-12">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">
                                                </label>
                                                <div class="col-md-4">

                                                </div>
                                            </div>
                                            <div class="form-group fileupload-buttonbar">
                                                <label class="control-label col-md-1">
                                                    Import
                                                </label>

                                                <div class="col-md-3">
                                                    <select class="form-control"><option>Event</option><option>People</option></select>

                                                </div>
                                                <div class="col-md-2">
                                                    <span class="btn green fileinput-button">
                                                        <i class="fa fa-plus"></i>
                                                        <span>
                                                            Add file...
                                                        </span>
                                                        <input type="file" name="files[]" multiple>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mrb10">
                                    <div class="col-md-6 col-sm-6 table-top">
                                        <label>
                                            <select class="form-control">
                                                <option>10</option>
                                            </select>
                                            Records
                                        </label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 table-top text-right">
                                        <label>
                                            Search
                                            <input type="text" class="form-control">
                                        </label>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th> Event Name </th>
                                                <th> Description </th>
                                                <th> Event Date </th>
                                                <th> Action </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Paris Day Trip</td>
                                                <td> Experience the eye-popping opulence of Versailles and Marie Antoinette’s personal palace, Le Petit Trianon, on a fascinating day tour from Paris. </td>
                                                <td> 10 July 2016  </td>
                                                <td>
                                                    <a class="btn default btn-xs green"><i class="fa fa-ellipsis-h"></i> Detail </a> <a class="btn default btn-xs purple"><i class="fa fa-edit"></i> Edit </a> <a class="btn default btn-xs blue"><i class="fa fa-user"></i> Add People </a> <a class="btn default btn-xs red"><i class="fa fa-remove"></i> Delete </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 table-top">
                                        <label> Showing 1 to 10 of 18 entries</label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 table-top text-right">
                                        <ul class="pagination">
                                            <li class="paginate_button previous disabled" tabindex="0" id="sample_2_previous"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                            <li class="paginate_button active" tabindex="0"><a href="#">1</a></li>
                                            <li class="paginate_button " tabindex="0"><a href="#">2</a></li>
                                            <li class="paginate_button " tabindex="0"><a href="#">3</a></li>
                                            <li class="paginate_button next" tabindex="0" id="sample_2_next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button type="submit" class="btn green"><i class="fa fa-save"></i> Update </button>
                                    </div>
                                </div>
                            </div>
                            <!-- END VALIDATION STATES-->
                        </div>
                    </div>
                </div>
                <!--Contents End-->
            </div>
        </div>